@font-face {
	font-family: 'Comfortaa';
	font-display: fallback;

	src: url('./Comfortaa-Regular.ttf') format('truetype');

	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIDisplay';
	font-display: fallback;

	src: url('./SFUIDisplay-Regular.ttf') format('truetype');

	font-weight: 400;
	font-style: normal;
}
